
body {
    width: 100%;
    height: 2580px;
    display: flex;
    justify-content: center;
    background: linear-gradient(146.42deg, #1185B4 -2.97%, #0075A4 44.19%, #64D0FB 99.25%);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
}
    nav {
        position: fixed;
        width: 100%;
        height: 100px;
        left: 0px;
        top: 0px;
        background: #F1F1F1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
  
    .container{
        padding: 10px;
        
        display: flex;
    }
    div div{
    padding-right: 30px;
    }
   #fav , #home{
    width: 36px;
    height: 36px;
   }
   .Home{
   
    display: flex;
   }
    .nav{
        margin-left:10px ;
 
       height: 36px;
       font-family: 'Inter', sans-serif;
       font-style: normal;
       font-weight: 800;
       font-size: 20px;
       line-height: 36px;
       text-decoration: none;
       color: #1487B6; 
    }
    
    #mc {
       margin-left: -76px;
        height: 80px;
        width: 80px;
    }
    
   
    .cadre{
width: 754px;
height: 215px;
background: #D9D9D9;
border-radius: 29px;
display: flex;
justify-content: center;
flex-direction:column; 

    }

    .cadre p{
        margin-bottom: 10px;
        font-family: 'Inter';
        font-style: italic;
         color:#3C3B3B; 
        text-align: center;
        font-size: 35px;
    }
    .Generator{
        padding: 20px;
position: absolute;
width: 620px;
height: 436px;

top: 347px;
display: flex;
flex-wrap: wrap;
justify-content: center;
    }
    p{
font-style: normal;
font-size: 40px;
color: #FFFFFF;
    }
    button{
        border: none;
    
      width: 212px;
      height: 70px;
background: #D9D9D9;
border-radius: 23px;
font-size: 25px;
color: #005578;
margin: 20px;
    }
.stars{

 position: absolute;
top:367px; 
 width: 1080.56px;
 height: 264.05px;
}

.secfav{
    margin-top:180px ;
 padding-top:20px;
    position: absolute;
  top:780px ;
  width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.favlist{
    margin-top:20px;
    height: 837px;
    width: 100%;
    background-color: #D9D9D9 ;
    display: flex;
    justify-content: center;
}

#favori{
    height: 40px; 
}

.favlist p{
   
    font-size: 20px;
    color: #077BAB;
}
.about{
 
    position: absolute;
    top: 1880px;
    display: flex;
    align-items: center;
    padding: 40px;
    padding-top: 100px;
}
.pic{
    border: #033962 4px solid;
    height: 350px;
    margin:20px;
}
.about p{
    margin: 10px;
    width: 512px;
    font-size: 40px;
    text-align: left;
}
#micro{
    position: absolute;
    padding: 0px;
    width: 228px;
    top: 414px;
    color: #033962;
}

.foot{
display: flex;
align-items: center;
position: absolute;
width: 611px;
height: 70px;
left: 110px;
top: 2500px;
}
.foot img{
 width: 50px;
height: 50px;
padding: 0 20px;
}
button:hover{
    transform: scale(1.1);
}
.nav:hover{
    transform: scale(1.1);
}
.foot img:hover{
    transform: scale(1.1);
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c3b3b;
    font-size: 30px;
    margin-top: 25px;
padding : 20px; 
background: #D9D9D9;
    text-align: justify;
   list-style: none;
   border-bottom: 2px rgb(11 127 173) solid;
   border: #3c3b3b 2px solid ;
   border-radius: 30px;
   width: 320px; 
 
height: 120px;

}